@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.wrap{
    width: 100%;
}
h1{
    font-family: 'Pacifico';
    float: left;
    margin: 8px 0  0 35px;
}
.nav{
    margin-top: 20px;
}
.nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content:end;
    align-items: center;
}
.nav li{
    padding: 35px;
}
h2{
    text-align: center;
}
.main{
    position: relative;
}
.img-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.img-box img{
    margin: 30px;
    height: 670px;
    filter: grayscale(0.5);
    transition: 0.5s;
    cursor: pointer;
}
img:nth-child(2){
    margin-left: 0;
    margin-right: 0;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}

/* 팝업 */
.popup{
    width: 100%;
    display: none;
}
.popup-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}
.popup-img1,.popup-img2,.popup-img3{
    width: 500px;
    position: absolute;
    left: 37%;
    top: 15%;
}